@import "./components/circle.css";
@import "./components/buttonup.css";
@import "./components/mediaqueries.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --about-color1: hsl(60 100% 80%);
  --skills-color1: hsl(180 100% 80%);
  --contact-color1: hsl(300 100% 80%);
  --main-black: #303030;
  --main-white: #fff5ee;
}

body {
  font-family: system-ui;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  border-bottom: 1px solid var(--main-black);
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
}

.circles-home {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;
}
.about {
  background: var(--about-color1);
}

.skills {
  background: var(--skills-color1);
}

.contact {
  background: var(--contact-color1);
}

.remove {
  display: none;
}
