@import "components/circle.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /*--about-color1: aquamarine;
  --about-color2: rgb(192, 205, 50);
  --skills-color1: aqua;
  --skills-color2: darkturquoise;
  --contact-color1: lavender;
  --contact-color2: plum;*/

  --about-color1: hsl(60 70% 80%);
  --skills-color1: hsl(165 70% 80%);
  --contact-color1: hsl(270 70% 80%);
  --about-color2: hsl(90 70% 80%);
  --skills-color2: hsl(195 70% 80%);
  --contact-color2: hsl(300 70% 80%);
  --main-black: #303030;
  --main-white: #fff5ee;
}

body {
  font-family: system-ui;
  background-color: var(--main-white);
}

nav {
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--main-black);
}
a {
  text-decoration: none;
  color: var(--main-black);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
h1 {
  text-transform: uppercase;
}

.footer {
  font-size: 8pt;
  position: fixed;
  bottom: 0;
}

.about {
  background: var(--about-color1);
}

.skills {
  background: var(--skills-color1);
}

.contact {
  background: var(--contact-color1);
}
