.circle-about {
  border: 1px solid var(--main-black);
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: var(--about-color1);
}
.circle-about:hover {
  background-color: var(--about-color2);
}
.circle-skills {
  border: 1px solid var(--main-black);
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: var(--skills-color1);
}
.circle-skills:hover {
  background-color: var(--skills-color2);
}
.circle-contact {
  border: 1px solid var(--main-black);
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: var(--contact-color1);
}
.circle-contact:hover {
  background-color: var(--contact-color2);
}
