@media screen and (min-width: 1000px) {
  .circles-home {
    display: flex;
    flex-direction: row;
  }
  .circle {
    height: 70vh;
    width: 70vh;
  }
}

@media (orientation: landscape) {
  .circles-home {
    display: flex;
    flex-direction: row;
  }
  .circle-about {
    background: linear-gradient(
      to right,
      var(--about-color1),
      hsl(140 100% 80%)
    );
  }
  .circle-skills {
    background: linear-gradient(to right, hsl(140 100% 80%), hsl(220 100% 80%));
  }
  .circle-contact {
    background: linear-gradient(
      to right,
      hsl(220 100% 80%),
      var(--contact-color1)
    );
  }
}
@media (orientation: portrait) {
  .circles-home {
    flex-direction: column;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--main-white);
    color: var(--main-black);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--main-black);
    color: var(--main-white);
  }
  p {
    color: var(--main-black);
  }
  .button-top {
    color: var(--main-white);
    background-color: transparent;
  }
  .dark-mode__about {
    color: var(--about-color1);
  }
  .dark-mode__skills {
    color: var(--skills-color1);
  }
  .dark-mode__contact {
    color: var(--contact-color1);
  }
}
